.app {
  font-family: Inter;
}

.f-login {
  display: flex;
}

img {
  width: 50%;
  margin-left: 3rem;
}

@media (max-width: 480px) {
  img {
    width: 0;
    margin-left: 0rem;
    opacity: 0;
  }
}
